version: "3.8"
services:
  docker:
    image: docker:dind
    container_name: jenkins_docker
    restart: always
    privileged: true
    networks:
      docker:
        aliases:
          - docker
    environment:
      DOCKER_TLS_CERTDIR: /certs
    volumes:
      - jenkins-docker-certs:/certs/client
      - jenkins-data:/var/jenkins_home
    ports:
      - "2376:2376"
  jenkins:
    image: bartodes/jenkins-nodejs:2.387.1
    container_name: jenkins_nodejs
    restart: always
    networks:
      - docker
    tty: true
    environment:
      DOCKER_HOST: tcp://docker:2376
      DOCKER_CERT_PATH: /certs/client
      DOCKER_TLS_VERIFY: 1
    volumes:
      - jenkins-docker-certs:/certs/client:ro
      - jenkins-data:/var/jenkins_home
    ports:
      - "8080:8080"
      - "50000:50000"

volumes:
  jenkins-docker-certs:
  jenkins-data:

networks:
  docker: